allure-results/
node_modules/
/test-results/
/playwright-report/
/playwright/.cache/
/allure-report/
/allure-results/
/.allure/

eslint.config.js
src/.DS_Store

# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# IDE
.idea/
.vscode/
*.swp
*.swo
*.bak

# Logs
*.log
*.tmp